css .container{
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
align-items: end;

}
.container-2{
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
margin-top: 20px;
}
.item{
background-color: aqua;
border: 2px;
padding: 30px;
align-items: flex-end;
}
.wrapper{
    background-color: gray;
}